<div class="largura12">
	<h3 class="largura6 float-none"> <% l('Inscrições') %> </h3>
	<br><br>
</div>
<div class="largura12">
	<div class="largura4 bg-cinza align-center inscricoes-valores">
		<span>
			<% l('até 14/08') %>
			<br>
			<span>R$ 75,00</span>
		</span>
	</div>
	<div class="largura4 bg-cinza align-center inscricoes-valores">
		<span>
			<% l('a partir de 15/08') %>
			<br>
			<span>R$ 150,00</span>
		</span>
	</div>
	<div class="largura4 inscricoes-bt">
		<a href="#" class="bt-lilas" target="_blank"> <% l('Inscrever-se') %> </a>
	</div>
</div>
