<a id="body-bg"></a>
	<div id"page">
   	<section class="full shadow-top" id="o-evento">
    		<div><!-- wrapper -->

		<% INCLUDE about_event.tt %>

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	
    	<header class="full" id="nav">
	<div><!-- wrapper -->
		<figure class="largura4" id="logo-yapc-sticky">
			<img src="images/logo-yapc-sticky.png" alt="YAPC::Brasil 2013" alt="YAPC::Brasil 2013">
		</figure>
		<nav class="largura6 float-right">
			<a id="programacao-menu">Programação</a>
			<a id="local-menu">Local</a>
			<a id="inscricoes-menu">Inscrições</a>
			<a id="patrocinadores-menu">Patrocinadores</a>
		</nav>
	</div><!-- /wrapper -->
    	</header><!-- /.full -->    	

    	<section class="full shadow-top" id="programacao">
    		<div><!-- wrapper -->
		
		<% INCLUDE program.tt %> 		

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	
	<hr>
    	
    	<section class="full shadow-top" id="local">
    		<div><!-- wrapper -->
		
		<% INCLUDE local.tt %>		

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	
	<hr>
    	
    	<section class="full shadow-top" id="inscricoes">
    		<div><!-- wrapper -->

		<% INCLUDE subscribe.tt %>

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->

    	<hr>
    	
    	<section class="full shadow-top" id="patrocinadores">
    		<div><!-- wrapper -->
		
		<% INCLUDE sponsors.tt %>		

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	<hr>
    	<section class="full" id="patrocinadores-barra">
    		<div>
    			<h5 class="largura6 align-right" >Patrocinadores</h5>
			<figure class="largura2"><img src="images/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
			<figure class="largura2"><img src="images/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
			<!--<a class="bt-mais bt-lilas float-right">+</a>-->
    		</div>
    	</section>    	
</div><!-- /#page -->
