    	<a id="body-bg"></a>
    	<div id"page">
	    	
	    	<section class="full shadow-top" id="o-evento">
	    		<div><!-- wrapper -->
	    			<div class="largura6 align-right">
	    				<figure class="largura4 float-right" id="logo-yapc">
	    					<img src="img/logo-yapc.png" alt="YAPC::Brasil 2013" alt="YAPC::Brasil 2013">
	    				</figure>
	    				<h1 class="align-right">YAPC::Brasil 2013</h1>
	    				<h2 class="align-right">Yet Another Perl Conference 2013<br>15 e 16 de Novembro, em Curitiba, PR</h2>
	    			</div>
	    			<div class="largura6">
	    				<p>
	    					Curitiba hospeda em 2013 a oitava edição da YAPC::Brasil, oferecendo à comunidade de usuários palestras e debates sobre o estado da arte, as práticas e tecnologias voltadas para captura, armazenamento, busca, compartilhamento, análise, e visualização de dados científicos.<br><br>
							A YAPC::Brasil (Yet Another Perl Conference :: Brasil) é um evento social para integrar a comunidade de desenvolvedores em linguagem Perl e usuários. A edição 2013 está estruturada para fomentar o diálogo e a colaboração entre desenvolvedores Perl e profissionais das demais áreas de conhecimento que stão experimentando lidar com grandes volumes de informação gerados por experimentos científicos.<br><br>
							A interdisciplinaridade é uma prioridade para a comunidade Perl, expressa em seu lema “há mais de uma maneira de fazê-lo” (“There's more than one way to do it”). Tanto os core hackers da linguagem quanto seus usuários ocasionais são oriundos das mais diversas formações acadêmicas: Computação, Biologia, Física, Química, Engenharia, Farmácia, etc.<br><br>
							A revolução científica atual exige o processamento de grandes volumes de dados com diversos graus de complexidade, portanto é essencial que exista uma maior sinergia entre profissionais de diferentes áreas que possam trocar conhecimentos.
	    				</p>
	    			</div>
	    		</div><!-- /wrapper -->
	    	</section><!-- /.full -->
	    	
	    	<header class="full" id="nav">
				<div><!-- wrapper -->
					<figure class="largura4" id="logo-yapc-sticky">
						<img src="img/logo-yapc-sticky.png" alt="YAPC::Brasil 2013" alt="YAPC::Brasil 2013">
					</figure>
					<nav class="largura6 float-right">
						<a id="programacao-menu">Programação</a>
						<a id="local-menu">Local</a>
						<a id="inscricoes-menu">Inscrições</a>
						<a id="patrocinadores-menu">Patrocinadores</a>
					</nav>
				</div><!-- /wrapper -->
	    	</header><!-- /.full -->
	    	
			
	    	<section class="full shadow-top" id="programacao">
	    		<div><!-- wrapper -->
	    			<div class="largura6">
	    				<h3>Programação</h3>
	    				<h4 class="align-right">O Universo Científico</h4>
	    			</div>
	    			<div class="largura6 programacao-datas">
	    				<a class="largura2 bt-lilas float-right" id="programacao-sabado">16 :: sábado</a>
	    				<a class="largura2 bt-lilas float-right" id="programacao-sexta">15 :: sexta</a>
	    			</div>
	    			<div class="largura12 programacao-tabela">
	    				<ul class="header bg-cinza align-center">
	    					<li class="largura2">QUANDO?</li>
	    					<li class="largura4">QUEM?</li>
	    					<li class="largura6">O QUE?</li>
	    				</ul>
	    				<div id="programacao-sexta-content">
		    				<ul class="align-center">
		    					<li class="largura2 quando">sexta</li>
		    					<li class="largura4 quem">Thiago Glauco Sanchez (Thiago Glauco Sanchez)</li>
		    					<li class="largura5 o-que">
		    						Plagiarism detection using HBase: How a data-rich application finally found a Big-Data solution
		    					</li>
		    					<li class="largura1 o-que-mais">
		    						<a class="bt-mais bt-lilas float-right"></a>
		    					</li>
		    					<li class="largura12 o-que-mais-content">
		    						A Política Nacional de Resíduos Sólidos estabelece princípios, objetivos, diretrizes, metas e ações, e importantes instrumentos, tais como este Plano Nacional de Resíduos Sólidos, que está em processo de construção e contemplará os diversos tipos de resíduos gerados,alternativas de gestão e gerenciamento passíveis de implementação, bem como metas para diferentes cenários, programas, projetos e ações correspondentes. E é nesta concepção que se espera consolidar uma ferramenta de análise gerencial que possa mensurar a relação custo, desperdício e retorno para a região do que foi tornado resíduo, de modo a permitir o controle de entrada, processamento e saída destes resíduos dos municipíos.
		    					</li>
		    				</ul>
		    				<ul class="align-center">
		    					<li class="largura2 quando">14:30h</li>
		    					<li class="largura4 quem">Thiago Glauco Sanchez (Thiago Glauco Sanchez)</li>
		    					<li class="largura5 o-que">
		    						Plagiarism detection using HBase: How a data-rich application finally found a Big-Data solution
		    					</li>
		    					<li class="largura1 o-que-mais">
		    						<a class="bt-mais bt-lilas float-right"></a>
		    					</li>
		    					<li class="largura12 o-que-mais-content">
		    						A Política Nacional de Resíduos Sólidos estabelece princípios, objetivos, diretrizes, metas e ações, e importantes instrumentos, tais como este Plano Nacional de Resíduos Sólidos, que está em processo de construção e contemplará os diversos tipos de resíduos gerados,alternativas de gestão e gerenciamento passíveis de implementação, bem como metas para diferentes cenários, programas, projetos e ações correspondentes. E é nesta concepção que se espera consolidar uma ferramenta de análise gerencial que possa mensurar a relação custo, desperdício e retorno para a região do que foi tornado resíduo, de modo a permitir o controle de entrada, processamento e saída destes resíduos dos municipíos.
		    					</li>
		    				</ul>
	    				</div>
	    				<div id="programacao-sabado-content">
		    				<ul class="align-center">
		    					<li class="largura2 quando">sabado</li>
		    					<li class="largura4 quem">Thiago Glauco Sanchez (Thiago Glauco Sanchez)</li>
		    					<li class="largura5 o-que">
		    						Plagiarism detection using HBase: How a data-rich application finally found a Big-Data solution
		    					</li>
		    					<li class="largura1 o-que-mais">
		    						<a class="bt-mais bt-lilas float-right"></a>
		    					</li>
		    					<li class="largura12 o-que-mais-content">
		    						A Política Nacional de Resíduos Sólidos estabelece princípios, objetivos, diretrizes, metas e ações, e importantes instrumentos, tais como este Plano Nacional de Resíduos Sólidos, que está em processo de construção e contemplará os diversos tipos de resíduos gerados,alternativas de gestão e gerenciamento passíveis de implementação, bem como metas para diferentes cenários, programas, projetos e ações correspondentes. E é nesta concepção que se espera consolidar uma ferramenta de análise gerencial que possa mensurar a relação custo, desperdício e retorno para a região do que foi tornado resíduo, de modo a permitir o controle de entrada, processamento e saída destes resíduos dos municipíos.
		    					</li>
		    				</ul>
		    				<ul class="align-center">
		    					<li class="largura2 quando">14:30h</li>
		    					<li class="largura4 quem">Thiago Glauco Sanchez (Thiago Glauco Sanchez)</li>
		    					<li class="largura5 o-que">
		    						Plagiarism detection using HBase: How a data-rich application finally found a Big-Data solution
		    					</li>
		    					<li class="largura1 o-que-mais">
		    						<a class="bt-mais bt-lilas float-right"></a>
		    					</li>
		    					<li class="largura12 o-que-mais-content">
		    						A Política Nacional de Resíduos Sólidos estabelece princípios, objetivos, diretrizes, metas e ações, e importantes instrumentos, tais como este Plano Nacional de Resíduos Sólidos, que está em processo de construção e contemplará os diversos tipos de resíduos gerados,alternativas de gestão e gerenciamento passíveis de implementação, bem como metas para diferentes cenários, programas, projetos e ações correspondentes. E é nesta concepção que se espera consolidar uma ferramenta de análise gerencial que possa mensurar a relação custo, desperdício e retorno para a região do que foi tornado resíduo, de modo a permitir o controle de entrada, processamento e saída destes resíduos dos municipíos.
		    					</li>
		    				</ul>
	    				</div>
	    			</div>
	    			<a class="bt-lilas largura4 float-right" id="quer-palestrar">Quer palestrar? Clique aqui</a>
	    			<div class="largura4 bg-cinza" id="quer-palestrar-form">
	    				<form action="" method="post">
		    				Sua proposta será avaliada e em breve entraremos em contato.<br><br>
		    				<input type="text" placeholder="Nome" name="nomePalestrante">
		    				<input type="text" placeholder="E-mail" name="emailPalestrante">
		    				<input type="text" placeholder="Título da palestra" name="tituloPalestrante">
		    				<textarea placeholder="Resumo da palestra" name="resumoPalestrante"></textarea>
		    				<input type="submit" value="Enviar" name="submit" class="bt-lilas">
	    				</form>
		    			<a id="quer-fechar">Fechar formulário</a>
	    			</div>
	    			<div id="quer-overlay"></div>
	    		</div><!-- /wrapper -->
	    	</section><!-- /.full -->
	    	<hr>
	    	
	    	<section class="full shadow-top" id="local">
	    		<div><!-- wrapper -->
					<h3 class="largura6 float-none">Local</h3><br><br>
					<iframe class="largura6" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Silveira+Peixoto,+1297,+Curitiba+-+Paran%C3%A1,+Rep%C3%BAblica+Federativa+do+Brasil&amp;aq=0&amp;oq=Rua+Silveira+Peixoto+1297&amp;sll=37.0625,-95.677068&amp;sspn=40.732051,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Silveira+Peixoto,+1297+-+Batel,+Curitiba+-+Paran%C3%A1,+80240-120,+Rep%C3%BAblica+Federativa+do+Brasil&amp;t=m&amp;z=14&amp;ll=-25.443545,-49.286335&amp;output=embed"></iframe>
	    			<div class="largura6">
	    				<h4>O YAPC::Brasil 2013 será em Curitiba,<br>no Hotel Slaviero Full Jazz</h4><br>
	    				<p>
	    					Ouça, ao dar seus primeiros passos no lobby. Veja, nas paredes e nos móveis. Sinta, nos corredores, no carpete e nas cadeiras do bar. Assista a um show no seu apartamento, e tenha certeza: o jazz mora aqui. Em Curitiba, você pode ficar em um hotel comum, ou em um hotel que é Full Jazz.<br><br>
							O Slaviero Full Jazz está no Batel, bairro nobre de Curitiba, e transmite a experiência do jazz na decoração de todos os seus apartamentos. Um hotel para ouvir, ver, sentir e sempre querer voltar.
	    				</p><br>
						<a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Silveira+Peixoto,+1297,+Curitiba+-+Paran%C3%A1,+Rep%C3%BAblica+Federativa+do+Brasil&amp;aq=0&amp;oq=Rua+Silveira+Peixoto+1297&amp;sll=37.0625,-95.677068&amp;sspn=40.732051,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Silveira+Peixoto,+1297+-+Batel,+Curitiba+-+Paran%C3%A1,+80240-120,+Rep%C3%BAblica+Federativa+do+Brasil&amp;t=m&amp;z=14&amp;ll=-25.443545,-49.286335" class="largura4 bt-lilas" target="_blank">Clique para ver no Google Maps</a>
	    			</div>
	    			<h3 class="largura6 float-none">Curitiba</h3><br><br>
					<figure class="largura6"><img src="img/mapa-rit.jpg" alt="Mapa da Rede Integrada de Transporte" title="Mapa da Rede Integrada de Transporte"></figure>
	    			<div class="largura6">
	    				<h4>Andando em Curitiba</h4><br>
	    				<p>
	    					A Rede Integrada de Transporte (RIT) permite ao usuário a utilização de mais de uma linha de ônibus com o pagamento de apenas uma tarifa. O processo de integração ocorre a partir de terminais de integração onde o cidadão pode desembarcar de uma linha e embarcar em qualquer outra dentro daquele espaço sem um novo pagamento. Assim, o usuário pode compor o seu próprio trajeto para se deslocar por diversos bairros de Curitiba e  municípios da Região Metropolitana. Ao todo, são 14 cidades interligadas por esta rede de linhas que proporciona ampla mobilidade a mais de 2 milhões de pessoas diariamente.
	    				</p><br>
						<a href="http://www.urbs.curitiba.pr.gov.br/transporte/rede-integrada-de-transporte/32" class="largura4 bt-lilas" target="_blank">Clique para ver o mapa ampliado</a>
	    			</div>
					<h4 class="largura12 align-center"><br><br>Lugares para visitar<br><br></h4>
	    			<div class="largura4 local-lugares bg-cinza">
	    				<figure><img src="img/local-foto.jpg" alt="Linha Turismo" title="Linha Turismo"></figure>
						<div class="o-que-mais bg-cinza">
							<p>Outro cartão postal da cidade é a Ópera de Arame, um anfiteatro todo construído de tubos de aço e estruturas metálicas e com de policarbonato transparente. Situada no local onde funcionava uma antiga pedreira, a Ópera do Arame se encontra no chamado Parque das Pedreiras, e o acesso anfiteatro se da por meio de uma ponte de ferro que passa sobre um lago e chega ao segundo piso do teatro. Está aberto para visitação de terça a domingo, das 8h às 20h.</p>
						</div>
	    				<p>
	    					Linha Turismo
							<a class="bt-mais bt-lilas float-right">–</a>
	    				</p>
	    			</div>
	    			<div class="largura4 local-lugares bg-cinza">
	    				<figure><img src="img/local-foto.jpg" alt="Linha Turismo" title="Linha Turismo"></figure>
						<div class="o-que-mais bg-cinza">
							<p>Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, um anfiteatro todo construído de tubos de aço e estruturas metálicas e com de policarbonato transparente. Situada no local onde funcionava uma antiga pedreira, a Ópera do Arame se encontra no chamado Parque das Pedreiras, e o acesso anfiteatro se da por meio de uma ponte de ferro que passa sobre um lago e chega ao segundo piso do teatro. Está aberto para visitação de terça a domingo, das 8h às 20h.</p>
						</div>
	    				<p>
	    					Linha Turismo
							<a class="bt-mais bt-lilas float-right">–</a>
	    				</p>
	    			</div>
	    			<div class="largura4 local-lugares bg-cinza">
	    				<figure><img src="img/local-foto.jpg" alt="Linha Turismo" title="Linha Turismo"></figure>
						<div class="o-que-mais bg-cinza">
							<p>Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, um anfiteatro todo construído de tubos de aço e estruturas metálicas e com de policarbonato transparente. Situada no local onde funcionava uma antiga pedreira, a Ópera do Arame se encontra no chamado Parque das Pedreiras, e o acesso anfiteatro se da por meio de uma ponte de ferro que passa sobre um lago e chega ao segundo piso do teatro. Está aberto para visitação de terça a domingo, das 8h às 20h.</p>
						</div>
	    				<p>
	    					Linha Turismo
							<a class="bt-mais bt-lilas float-right">–</a>
	    				</p>
	    			</div>
	    			<div class="largura4 local-lugares bg-cinza">
	    				<figure><img src="img/local-foto.jpg" alt="Linha Turismo" title="Linha Turismo"></figure>
						<div class="o-que-mais bg-cinza">
							<p>Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, um anfiteatro todo construído de tubos de aço e estruturas metálicas e com de policarbonato transparente. Situada no local onde funcionava uma antiga pedreira, a Ópera do Arame se encontra no chamado Parque das Pedreiras, e o acesso anfiteatro se da por meio de uma ponte de ferro que passa sobre um lago e chega ao segundo piso do teatro. Está aberto para visitação de terça a domingo, das 8h às 20h.</p>
						</div>
	    				<p>
	    					Linha Turismo
							<a class="bt-mais bt-lilas float-right">–</a>
	    				</p>
	    			</div>
	    			<div class="largura4 local-lugares bg-cinza">
	    				<figure><img src="img/local-foto.jpg" alt="Linha Turismo" title="Linha Turismo"></figure>
						<div class="o-que-mais bg-cinza">
							<p>Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, um anfiteatro todo construído de tubos de aço e estruturas metálicas e com de policarbonato transparente. Situada no local onde funcionava uma antiga pedreira, a Ópera do Arame se encontra no chamado Parque das Pedreiras, e o acesso anfiteatro se da por meio de uma ponte de ferro que passa sobre um lago e chega ao segundo piso do teatro. Está aberto para visitação de terça a domingo, das 8h às 20h.</p>
						</div>
	    				<p>
	    					Linha Turismo
							<a class="bt-mais bt-lilas float-right">–</a>
	    				</p>
	    			</div>
	    			<div class="largura4 local-lugares bg-cinza">
	    				<figure><img src="img/local-foto.jpg" alt="Linha Turismo" title="Linha Turismo"></figure>
						<div class="o-que-mais bg-cinza">
							<p>Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, Outro cartão postal da cidade é a Ópera de Arame, um anfiteatro todo construído de tubos de aço e estruturas metálicas e com de policarbonato transparente. Situada no local onde funcionava uma antiga pedreira, a Ópera do Arame se encontra no chamado Parque das Pedreiras, e o acesso anfiteatro se da por meio de uma ponte de ferro que passa sobre um lago e chega ao segundo piso do teatro. Está aberto para visitação de terça a domingo, das 8h às 20h.</p>
						</div>
	    				<p>
	    					Linha Turismo
							<a class="bt-mais bt-lilas float-right">–</a>
	    				</p>
	    			</div>
	    		</div><!-- /wrapper -->
	    	</section><!-- /.full -->
	    	<hr>
	    	
	    	<section class="full shadow-top" id="inscricoes">
	    		<div><!-- wrapper -->
					<h3 class="largura6 float-none">Inscrições</h3><br><br>
	    			<div class="largura4 bg-cinza align-center inscricoes-valores">
	    				<span>
	    					até 31/08<br>
	    					<span>R$ 50,00</span>
						</span>
	    			</div>
	    			<div class="largura4 bg-cinza align-center inscricoes-valores">
	    				<span>
	    					a partir de 01/09<br>
	    					<span>R$ 70,00</span>
						</span>
	    			</div>
	    			<div class="largura4">
						<p>Faça sua inscrição para o YAPC 2013 pelo site EventBrite.</p><br>
						<a href="#" class="largura2 bt-lilas" target="_blank">Inscrever-se</a>
	    			</div>
	    		</div><!-- /wrapper -->
	    	</section><!-- /.full -->
	    	<hr>
	    	
	    	<section class="full shadow-top" id="patrocinadores">
	    		<div><!-- wrapper -->
	    			<h3 class="largura6 float-none">Patrocinadores</h3><br><br>
	    			<div class="align-center">
						<figure class="largura6"><img src="img/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura6"><img src="img/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	    			</div>
	    			<div class="align-center">
						<figure class="largura4"><img src="img/patrocinador-platina.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura4"><img src="img/patrocinador-platina.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura4"><img src="img/patrocinador-platina.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura4"><img src="img/patrocinador-platina.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura4"><img src="img/patrocinador-platina.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura4"><img src="img/patrocinador-platina.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	    			</div>
	    			<div class="align-center">
						<figure class="largura3"><img src="img/patrocinador-ouro.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura3"><img src="img/patrocinador-ouro.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura3"><img src="img/patrocinador-ouro.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura3"><img src="img/patrocinador-ouro.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	    			</div>
	    			<div class="align-center">
						<figure class="largura2"><img src="img/patrocinador-prata.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura2"><img src="img/patrocinador-prata.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura2"><img src="img/patrocinador-prata.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura2"><img src="img/patrocinador-prata.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	    			</div>
	    			<div class="align-center">
						<figure class="largura1"><img src="img/patrocinador-bronze.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura1"><img src="img/patrocinador-bronze.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura1"><img src="img/patrocinador-bronze.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
						<figure class="largura1"><img src="img/patrocinador-bronze.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	    			</div>
	    		</div><!-- /wrapper -->
	    	</section><!-- /.full -->
	    	<hr>
	    	<section class="full" id="patrocinadores-barra">
	    		<div>
	    			<h5 class="largura3">Patrocinadores</h5>
					<figure class="largura2"><img src="img/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
					<figure class="largura2"><img src="img/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
					<a class="bt-mais bt-lilas float-right">+</a>
	    		</div>
	    	</section>
	    	
		</div><!-- /#page -->
        <script src="js/vendor/jquery-1.9.1.min.js"></script>
		<script src="js/jquery.sticky.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
