<div class="largura12">
	<h3 class="largura6 float-none">Local</h3><br><br>
</div>
<!--
<iframe class="largura6" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Silveira+Peixoto,+1297,+Curitiba+-+Paran%C3%A1,+Rep%C3%BAblica+Federativa+do+Brasil&amp;aq=0&amp;oq=Rua+Silveira+Peixoto+1297&amp;sll=37.0625,-95.677068&amp;sspn=40.732051,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Silveira+Peixoto,+1297+-+Batel,+Curitiba+-+Paran%C3%A1,+80240-120,+Rep%C3%BAblica+Federativa+do+Brasil&amp;t=m&amp;z=14&amp;ll=-25.443545,-49.286335&amp;output=embed">
</iframe>
-->

<figure class="largura6">
	<img src="images/fullJazz.png" alt="Full Jazz Hotel" title="Full Jazz Hotel">
</figure>


<div class="largura6">
	<h4>O YAPC::Brasil 2013 será em Curitiba,<br>no Hotel Slaviero Full Jazz</h4><br>
		<p>
			O <a href="http://www.slavierohoteis.com.br/br/curitiba/slaviero-full-jazz_9_hoteis.aspx" target="_blank">Hotel Slaviero</a>, local da edição deste ano do YAPC::Brasil 
			foi escolhido pelas excelentes instalações e ambientes disponíveis para a realização do evento. O hotel é singular pela sua temática que remete aos 
			famosos bares e pubs de Jazz de antigamente. O hotel conta ainda com o melhor bar de Jazz da cidade, podendo ser um ótimo local para botar o papo em dia.
			
			<br>

			O Slaviero Full Jazz está no Batel, bairro nobre de Curitiba, estando pŕoximo a uma grande variedade de bares, restaurantes, shoppings e casas noturnas.
		</p>
		
		<br>
		<a href="http://goo.gl/maps/DLMyh" class="bt-lilas" target="_blank">Clique para ver no Google Maps</a>
</div>

<div class="largura12" style="margin-top:40px">
	<h3 class="largura6 float-none">Curitiba</h3><br><br>
</div>
	<figure class="largura6"><img src="images/curitiba.png" alt="Mapa da Rede Integrada de Transporte" title="Mapa da Rede Integrada de Transporte"></figure>
    		<div class="largura6">
    			<h4>Andando por Curitiba</h4><br>
    				<p>
    					A Rede Integrada de Transporte permite ao usuário a utilização de mais de uma linha de ônibus com o pagamento de apenas uma tarifa. 
					O processo de integração ocorre a partir de terminais de integração onde o cidadão pode desembarcar de uma linha e embarcar em qualquer 
					outra dentro daquele espaço sem um novo pagamento. 
				</p>
				<br />
				<p>
					Aconselhamos você a utiliza o aplicativo <a target="_blank" href="http://busaocuritibano.com.br/#!/">Busão Curitibano</a>, 
					assim você poderá achar as melhores linhas de ônibus, conferir os horários e acompanhar em tempo real a posição dos ônibus pela cidade.
				</p>

			<br>

			<a href="http://www.urbs.curitiba.pr.gov.br/" class="bt-lilas" target="_blank">Clique para ver mais informações</a>
    		</div>
		<h4 class="largura12 align-center"><br><br>Quer trazer a família junto? Veja alguns dos lugares para visitar em Curitiba<br><br></h4>
		<div class="largura12">
    			<div class="largura4 local-lugares bg-cinza">
    				<figure>
					<img src="images/turismo-1.png" alt="Linha Turismo" title="Linha Turismo">
				</figure>
				<div class="o-que-mais bg-cinza">
					<p>
						A Linha Turismo é uma linha de ônibus especial que percorre os principais pontos turísticos da cidade, em um percurso de aproximadamente 
						45 km, que dura cerca de duas horas e meia. A linha funciona de terça-feira a domingo das 9h às 17h30, e o valor do passeio é de R$ 27,00. 
						Esse preço garante ao passageiro um embarque e quatro reembarques, possibilitando que o viajante escolha alguns dos pontos que queira 
						conhecer melhor.
					</p>
				</div>
    				<p>Linha Turismo<a class="bt-mais bt-lilas float-right">–</a></p>
    			</div>

    			<div class="largura4 local-lugares bg-cinza">
    				<figure>
					<img src="images/turismo-2.png" alt="Torre Panorâmica" title="Torre Panorâmica">
				</figure>
				<div class="o-que-mais bg-cinza">
					<p>
						A Torre Panorâmica de Curitiba é uma torre de telecomunicações que abriga o museu do Telefone e um mirante de 360° aberto a visitação publica. 
						Inaugurada em 1991 a torre possui 109,5 metros de altura, funcionando de terça a domingo das 10h às 19h. A entrada custa R$ 3,00 por pessoa.
					</p>
				</div>
    				<p>Torre Panorâmica<a class="bt-mais bt-lilas float-right">–</a></p>
    			</div>
    			
			<div class="largura4 local-lugares bg-cinza">
    				<figure>
					<img src="images/turismo-3.png" alt="Jardim Botânico" title="Jardim Botânico">
				</figure>
				<div class="o-que-mais bg-cinza">
					<p>
						Um dos principais cartões postais de Curitiba. Com uma área de cerca de 245 mil m², possui vastos jardins geométricos, 
						além de um bosque de araucárias e de uma estufa de três abóbadas, que abriga plantas característica da Floresta Atlântica. 
						O Jardim Botânico funciona de terça a domingo das 06h às 21h.
					</p>
				</div>
    				<p>Jardim Botânico<a class="bt-mais bt-lilas float-right">–</a></p>
    			</div>

    			<div class="largura4 local-lugares bg-cinza">
    				<figure>
					<img src="images/turismo-4.png" alt="Ópera de Arame" title="Ópera de Arame">
				</figure>
				<div class="o-que-mais bg-cinza">
					<p>
						 Um anfiteatro todo construído de tubos de aço e estruturas metálicas e com de policarbonato transparente. Situada no local onde funcionava 
						 uma antiga pedreira, a Ópera do Arame se encontra no chamado Parque das Pedreiras, e o acesso anfiteatro se da por meio de uma ponte de 
						 ferro que passa sobre um lago e chega ao segundo piso do teatro. Está aberto para visitação de terça a domingo, das 8h às 20h.
					</p>
				</div>
    				<p>Ópera de Arame<a class="bt-mais bt-lilas float-right">–</a></p>
    			</div>

    			<div class="largura4 local-lugares bg-cinza">
    				<figure>
					<img src="images/turismo-5.png" alt="Feirinha do Largo da Ordem" title="Feirinha do Largo da Ordem">
				</figure>
				<div class="o-que-mais bg-cinza">
					<p>
						Situada no chamado Centro Histórico de Curitiba, é composta por diversas barracas que contam com os mais diversos produtos de artesanato, 
						além de comidas variadas. A feira só funciona aos domingos, das 9h às 14h.
					</p>
				</div>
    				<p>Feirinha do Largo<a class="bt-mais bt-lilas float-right">–</a></p>
    			</div>

    			<div class="largura4 local-lugares bg-cinza">
    				<figure>
					<img src="images/turismo-6.png" alt="Parque Barigui" title="Parque Barigui">
				</figure>
				<div class="o-que-mais bg-cinza">
					<p>
						O Barigui é um dos maiores e o mais freqüentado parque de Curitiba. Sábados, domingos e feriados o parque é um dos principais pontos
						de encontro da cidade e, durante a semana, é muito comum as caminhadas em volta do lago. São muitas as opções de 
						entretenimento e lazer no Barigui.						
					</p>
				</div>
				<p>Parque Barigui<a class="bt-mais bt-lilas float-right">–</a></p>
			</div>

			<div class="largura4 local-lugares bg-cinza">
				<figure>
					<img src="images/turismo-7.png" alt="Mercado Municipal" title="Mercado Municipal">
				</figure>
				<div class="o-que-mais bg-cinza">
					<p>
						Fundado em 02 de agosto de 1958, até hoje o Mercado Municipal é o principal e mais tradicional endereço para compras de Curitiba. 
						Nas bancas de hortigranjeiros e nas lojas de delicatessens, é possível encontrar produtos como: bebidas, queijos e vinhos de diversas 
						procedências, ervas medicinais, temperos e especiarias, iguarias, conservas, pescados, embutidos, carnes exóticas e com cortes especiais.
					</p>
				</div>
				<p>Mercado Municipal<a class="bt-mais bt-lilas float-right">–</a></p>
			</div>

                        <div class="largura4 local-lugares bg-cinza">
				<figure>
					<img src="images/turismo-8.png" alt="Passeio Público" title="Passeio Público">
				</figure>
				<div class="o-que-mais bg-cinza">
					<p>
						Primeiro parque público de Curitiba, foi inaugurado pelo presidente da Província do Paraná, Alfredo d’Escragnolle Taunay, 
						em 2 de maio de 1886. Foi a primeira grande obra de saneamento da cidade, transformando um charco num espaço de lazer, com lagos, 
						pontes e ilhas em meio ao verde. Zoológico pioneiro de Curitiba, abriga até hoje pequenos animais. Seu portão é cópia do que 
						existiu no Cemitério de Cães de Paris. 
					</p>
				</div>
				<p>Passeio Público<a class="bt-mais bt-lilas float-right">–</a></p>
                        </div>

                        <div class="largura4 local-lugares bg-cinza">
				<figure>
					<img src="images/turismo-9.png" alt="Museu Oscar Niemeyer" title="Museo Oscar Niemeyer">
				</figure>
				<div class="o-que-mais bg-cinza">
					<p>
						O complexo de dois prédios, instalado em uma área de trinta e cinco mil metros quadrados (dos quais dezenove mil dedicados 
						à área de exposições), é um verdadeiro exemplo da Arquitetura aliada à Arte. A instituição tem como foco as artes visuais, 
						a arquitetura e o design. Pela sua grandiosidade, beleza e pela importância do acervo, atualmente representa uma instituição 
						cultural com projeção nacional e internacional.
					</p>
				</div>
				<p>Museo Oscar Niemeyer<a class="bt-mais bt-lilas float-right">–</a></p>
                        </div>
		</div>															
    	</div>
