<% languages(session.user_lang) %>
    	<section class="full shadow-top" id="inscricoes">
	<div><!-- wrapper -->
		<div class="largura12">
			<h4 class="largura12 float-none"> Dados abertos em 2013 </h4>
			<br><br>
		</div>

		<div class="largura12" >
	
		<h4>Palestrante:</h4>	
			<p>
			Thiago Rondon
			</p>
	
			<br><br>
	
		<h4>Data:</h4>	
			<p>
			Sexta-feira 15, 16:10
			</p>
		
		<br><br>

		<h4>Resumo:</h4>	
		<p>
			Abordando a utilização de dados abertos em todos os setores e provocações sobre o uso da linguagem perl e no universo científico.
		</p>

		<br><br>

		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone" data-href="http://2013.yapcbrasil.org.br/talk/15-11"></div>

		<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		
		<br><br>
	
		<div class="largura6">
		<div class="fb-like" data-href="http://2013.yapcbrasil.org.br/talk/15-11" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
		
		<br>
		<br>
	
	<a href="https://twitter.com/share" class="twitter-share-button" data-related="yapcbrasil" data-hashtags="yapcbrasil">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

		</div>

		<br><br>
		<br><br>

		</div>
    	
		</div><!-- /wrapper -->
	    	</section><!-- /.full -->

    	<hr>
    	
    	<section class="full shadow-top" id="patrocinadores">
    		<div><!-- wrapper -->
		
		<% INCLUDE sponsors.tt %>		

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	<hr>
