<% languages(session.user_lang) %>
    	<section class="full shadow-top" id="inscricoes">
	<div><!-- wrapper -->
		<div class="largura12">
			<h4 class="largura12 float-none"> Empacotamento e distribuição de aplicativos dependentes de bancos de dados</h4>
			<br><br>
		</div>

		<div class="largura12" >
	
		<h4>Palestrante:</h4>	
			<p>
			Leonardo Ruoso
			</p>
	
			<br><br>
	
		<h4>Data:</h4>	
			<p>
			Sábado 16, 11:00
			</p>
		
		<br><br>

		<h4>Resumo:</h4>	
		<p>
			Considerações elementares sobre estatística distributiva de populações ou amostras não gaussianas com exemplos de relatórios construídos com Estatítica Robusta,
			 Google API, Catalyst e PostgreSQL ou como não se deve produzir análises quantitativas sem entender para que servem aquelas fórmulas do Excell.
		</p>

		<br><br>

		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone" data-href="http://2013.yapcbrasil.org.br/talk/16-4"></div>

		<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		
		<br><br>
	
		<div class="largura6">
		<div class="fb-like" data-href="http://2013.yapcbrasil.org.br/talk/16-4" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
		
		<br>
		<br>
	
	<a href="https://twitter.com/share" class="twitter-share-button" data-related="yapcbrasil" data-hashtags="yapcbrasil">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

		</div>

		<br><br>
		<br><br>

		</div>
    	
		</div><!-- /wrapper -->
	    	</section><!-- /.full -->

    	<hr>
    	
    	<section class="full shadow-top" id="patrocinadores">
    		<div><!-- wrapper -->
		
		<% INCLUDE sponsors.tt %>		

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	<hr>
    	<section class="full" id="patrocinadores-barra">
    		<div>
    			<h5 class="largura6 align-right" > <% l('Patrocinadores') %> </h5>
                        <figure class="largura2"><img src="<% request.uri_base %>/images/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
                        <figure class="largura2"><img src="<% request.uri_base %>/images/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
			<!--<a class="bt-mais bt-lilas float-right">+</a>-->
    		</div>
    	</section>    	
