<div class="largura6 align-right">
	<figure id="logo-yapc">
		<img src="images/logo-yapc.png" alt="YAPC::Brasil 2013" alt="YAPC::Brasil 2013">
	</figure>
	<h1 class="align-right">YAPC::Brasil 2013</h1>
	<h2 class="align-right">Yet Another Perl Conference 2013<br> <% l('15 e 16 de Novembro, em Curitiba, PR') %> </h2>
</div>
<div class="largura6">
	<p>
		<% l('Seja Bem vindo a mais uma edição do principal evento da comunidade Perl do Brasil, o YAPC::Brasil.') %>
		<% l('O tema da edição de 2013 é <strong>O Universo Científico</strong>.') %>
	</p>
	<br />
	<br />
	<p>
		<% l('O YAPC é um evento social para integrar a comunidade de desenvolvedores em linguagem Perl,') %>
		<% l('seus usuários e interessados na área de tecnologia.') %> 
		
	</p>
	<br />
	<br />
	<p>
		<% l('Buscamos este ano promover o diálogo e a colaboração entre desenvolvedores Perl e profissionais das demais áreas de conhecimento que lidam com diferentes áreas da ciência,') %>
		<% l('oferecendo à comunidade palestras e debates sobre o estado da arte, as práticas e tecnologias voltadas ao processamento, armazenamento, compartilhamento, análise, ') %> 
		<% l('e visualização de dados científicos.') %>
	</p>
</div>
