<div class="largura6 align-right">
	<figure id="logo-yapc">
		<img src="images/logo-yapc.png" alt="YAPC::Brasil 2013" alt="YAPC::Brasil 2013">
	</figure>
	<h1 class="align-right">YAPC::Brasil 2013</h1>
	<h2 class="align-right">Yet Another Perl Conference 2013<br> <% l('15 e 16 de Novembro, em Curitiba, PR') %> </h2>
</div>
<div class="largura6">
	<h1 style="text-align: left;"><% l('O maior evento Perl do Brasil!') %></h1>
	<h2 class="align-right"><% l('... e dessa vez,&nbsp em Curitiba!') %></h2>
	
	<br />
	<br />
	<br />

	<p>
	<% l('Venha discutir sobre o <strong>Universo Científico</strong> e <strong>Perl Hacking</strong> com os maiores especialistas da área, como') %>
	<% l('o <strong>Joel Berger</strong>, criador do Perl 4 Science e o <strong>Gabor Szabo</strong> com mais de 14 anos de experiência no ensino de Perl.') %>
	</p>

	<br />
	
	<p>
	<% l('Conheça os responsáveis por trás das principais <strong>Empresas</strong> e <strong>Startups</strong> que contratam programadores Perl') %>
	<% l('no Brasil: Estante Virtual, Aware, Hexabio, Bivee, perldelux, entre outras.') %>
	</p>

	<br />

	<p>
	<% l('Descubra o uso de Perl em áreas científicas como Física e <strong>Bioinformática</strong>.') %>
	</p>

	<br />

	<p>
	<% l('Prestigie os indicados ao <strong>prêmio YAPC::Brasil 2013</strong> pelas contribuições nacionais ao Perl e celebre com o ganhador dessa grande homenagem.') %>
	</p>
</div>
