<div class="largura12">
	<h3 class="largura6 float-none"> <% l('Inscrições') %> </h3>
	<br><br>
</div>
<div class="largura12">
	<div class="largura4 bg-cinza align-center inscricoes-valores">
		<span>
			<% l('estudante') %>
			<br>
			<span>R$ 70,00</span>
		</span>
	</div>
	<div class="largura4 bg-cinza align-center inscricoes-valores">
		<span>
			<% l('profissional') %>
			<br>
			<span>R$ 100,00</span>
		</span>
	</div>
	<div class="largura4 inscricoes-bt">
		<a href="http://yapcbrasil.eventbrite.com/" class="bt-lilas" target="_blank"> <% l('Inscrever-se') %> </a>
	</div>
</div>
