<% languages(session.user_lang) %>

	<div id="idiomas">
		<a id="" href=" <% uri_base %>/pt "><img src="images/br.png"></a>
		<a id="" href=" <% uri_base %>/en "><img src="images/us.png"></a>
	</div>

	<div id="eduardo-miura"></div>

	<div id="page">
   	<section class="full shadow-top" id="o-evento">
		
    		<div><!-- wrapper -->

		<% INCLUDE about.tt %>

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	
    	<header class="full" id="nav">
	<div><!-- wrapper -->
		<figure class="largura4" id="logo-yapc-sticky">
			<img src="images/logo-yapc-sticky.png" alt="YAPC::Brasil 2013" alt="YAPC::Brasil 2013">
		</figure>
		<nav class="largura6 float-right">
			<a id="programacao-menu"> <% l('Programação') %> </a>
			<a id="local-menu"> <% l('Local') %> </a>
			<a id="inscricoes-menu"> <% l('Inscrições') %> </a>
			<a id="patrocinadores-menu"> <% l('Patrocinadores') %> </a>
		</nav>
	</div><!-- /wrapper -->
    	</header><!-- /.full -->    	

    	<section class="full shadow-top" id="programacao">
    		<div><!-- wrapper -->
		
		<% INCLUDE program.tt %> 		

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	
	<hr>
    	
    	<section class="full shadow-top" id="local">
    		<div><!-- wrapper -->
		
		<% INCLUDE local.tt %>		

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	
	<hr>
    	
    	<section class="full shadow-top" id="inscricoes">
    		<div><!-- wrapper -->

		<% INCLUDE enroll.tt %>

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->

    	<hr>
    	
    	<section class="full shadow-top" id="patrocinadores">
    		<div><!-- wrapper -->
		
		<% INCLUDE sponsors.tt %>		

    		</div><!-- /wrapper -->
    	</section><!-- /.full -->
    	<hr>
    	<section class="full" id="patrocinadores-barra">
    		<div>
<!--
    			<h5 class="largura6 align-right" > <% l('Patrocinadores') %> </h5>
                        <figure class="largura2"><img src="images/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
                        <figure class="largura2"><img src="images/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
-->
			<!--<a class="bt-mais bt-lilas float-right">+</a>-->
    		</div>
    	</section>    	
</div><!-- /#page -->
