<% languages(session.user_lang) %>
<section class="full shadow-top" id="inscricoes">
	<div><!-- wrapper -->
		<div class="largura12">
			<!--<center><h3 class="largura6"> Prêmio YAPC::Brasil 2013 </h3></center>-->
			<br/><br/>
		</div>
	
		<center><h4 style="font-size: 32px;">Votação Encerrada!</h4></center>
				
	</div>
	</div><!-- /wrapper -->
</section><!-- /.full -->
<hr>
<section class="full shadow-top" id="patrocinadores">
	<div><!-- wrapper -->
	<% INCLUDE sponsors.tt %>		
	</div><!-- /wrapper -->
</section><!-- /.full -->
<hr>
