<script>
function toggleStatus() {
    if ($('#toggle_radio').is(':checked')) {
      $('#toggle_candidate').attr('checked', false);
      $('#radio_list :radio').attr('disabled', false);
      $('#name_candidate :input').attr('disabled', true);
    }
	
    if ($('#toggle_candidate').is(':checked')) {
      $('#toggle_radio').attr('checked', false);
      $('#radio_list :radio').attr('disabled', true);
      $('#name_candidate :input').attr('disabled', false);
    }
}
</script>

<% languages(session.user_lang) %>
<section class="full shadow-top" id="inscricoes">
	<div><!-- wrapper -->
		<div class="largura12">
			<!--<center><h3 class="largura6"> Prêmio YAPC::Brasil 2013 </h3></center>-->
			<br/><br/>
		</div>

		<div class="largura12" >
	
		<center><h4 style="font-size: 32px;">Prêmio YAPC::Brasil 2013</h4></center>

		<br />
		<br />
		
		Contribuição do candidato para a divulgação da linguagem Perl nesse ano.
		Contribuição do indicado para a comunidade de programadores Perl, com a criação ou melhorias de módulos do CPAN, em 2013.
		Criação de empresa ou projeto grande voltados para o uso ou treinamento na linguagem.

		<br/><br/>
		<br/><br/>

		<form id="vote_form" method="post" action="<% yapcweb %>">

			<label for="voter_name">Seu nome:</label>
			<input type="text" id="voter_name" placeholder="Seu nome"/>

			<br/><br/>

			<label for="voter_rg">RG:</label>
			<input type="text" id="voter_rg" placeholder="Seu RG"/>

			<br/><br/>
			<h4>Selecione um candidato na lista abaixo ou indique um novo candidato...</h4><br/>

			<br/>

			<input id="toggle_radio" type="radio" name="toggle" onchange="toggleStatus()" checked/> Selecionar candidato já existente:<br/><br/>
			<p>N.º de</p>
			<p>Votos:</p>
			<div id="radio_list">
				<ul>
				<% FOREACH n IN name %>
					<li style="margin-bottom: 15px;"> &nbsp;&nbsp; <% n.replace('.+#','') %> &nbsp;&nbsp;&nbsp;
					<input type="radio" name="radio_opt" id="radio_opt" value="<% n.replace('#\d','') %>" style=" margin-left: 10px;"> <% n.replace('#\d','') %> </li>
				<% END %>
				</ul>
			</div>

			<br/><br />
			<h4>Ou digite o nome completo do seu candidato (se não estiver na lista acima):</h4>	
		
			<br/>
			<input id="toggle_candidate" type="radio" name="toggle" onchange="toggleStatus()"/> Indicar novo candidato para a lista:

			<div id="name_candidate">
			<input type="text" id="vote_candidate" placeholder="Nome do seu indicado ao Prêmio" disabled="disabled"/>
			</div>

			<br/><br />

			<input type="submit" value="Votar" action="#"/>
		</form>
				
	</div>
	</div><!-- /wrapper -->
</section><!-- /.full -->
<hr>
<section class="full shadow-top" id="patrocinadores">
	<div><!-- wrapper -->
	<% INCLUDE sponsors.tt %>		
	</div><!-- /wrapper -->
</section><!-- /.full -->
<hr>
