<div class="largura6">
	<h3> <% l('Programação') %></h3>
    	<h4 class="align-right"> <% l('O Universo Científico') %> </h4>
</div>
<div class="largura6 programacao-datas">
	<a class="bt-lilas float-right" id="programacao-sabado"> <% l('16 :: sábado') %> </a>
	<a class="bt-lilas float-right" id="programacao-sexta"> <% l('15 :: sexta') %> </a>
</div>
<div class="largura12 programacao-tabela">
	<ul class="header bg-cinza align-center">
		<li class="largura2"> <% l('QUANDO?') %> </li>
		<li class="largura4"> <% l('QUEM?') %> </li>
		<li class="largura6"> <% l('O QUE?') %> </li>
    	</ul>

    	<div id="programacao-sexta-content">

    		<ul class="align-center">
    			<li class="largura2 quando">hora</li>
    			<li class="largura4 quem">Palestrante</li>
    			<li class="largura5 o-que">Título</li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				Descrição
    			</li>
    		</ul>
    		
		<ul class="align-center">
    			<li class="largura2 quando">hora</li>
    			<li class="largura4 quem">Palestrante</li>
    			<li class="largura5 o-que">Título</li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				Descrição
    			</li>
    		</ul>
    	</div>
    	
	<div id="programacao-sabado-content">
    		<ul class="align-center">
    			<li class="largura2 quando">hora</li>
    			<li class="largura4 quem">Palestrante</li>
    			<li class="largura5 o-que">Título</li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				Descrição
    			</li>
    		</ul>
    		<ul class="align-center">
    			<li class="largura2 quando">hora</li>
    			<li class="largura4 quem">Palestrante</li>
    			<li class="largura5 o-que">Título</li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				Descrição
    			</li>
    		</ul>
	</div>
</div>
<div class="largura12">
   <a class="bt-lilas float-right" id="quer-palestrar"> <% l('Quer palestrar? Clique aqui') %> </a>
   	<div class="largura4 bg-cinza" id="quer-palestrar-form">
    		<form action="" method="post">
    			 <% l('Sua proposta será avaliada e em breve entraremos em contato.') %> <br><br>
    			<input type="text" placeholder=" <% l('Nome') %> " name="nomePalestrante" required>
    			<input type="mail" placeholder=" <% l('E-mail') %> " name="emailPalestrante" required>
    			<input type="text" placeholder=" <% l('Título da palestra') %> " name="tituloPalestrante" required>
    			<textarea placeholder=" <% l('Resumo da palestra') %> " name="resumoPalestrante" required></textarea>
			<input type="text" placeholder=" <% l('Escreva o resultado: 15 - 10') %> " name="verificaPalestrante" required>
			<input type="submit" value=" <% l('Enviar') %> " name="submit" class="bt-lilas">
    		</form>
    		<a id="quer-fechar"> <% l('Fechar formulário') %> </a>
	</div>
</div>
<div id="quer-overlay"></div>
