<div class="largura6">
	<h3> <% l('Programação') %></h3>
    	<h4 class="align-right"> <% l('O Universo Científico') %> </h4>
</div>
<div class="largura6 programacao-datas">
	<a class="bt-lilas float-right" id="programacao-sabado"> <% l('16 :: sábado') %> </a>
	<a class="bt-lilas float-right" id="programacao-sexta"> <% l('15 :: sexta') %> </a>
</div>
<div class="largura12 programacao-tabela">

	<ul class="header bg-cinza align-center">
		<li class="largura2"> <% l('QUANDO?') %> </li>
		<li class="largura4"> <% l('QUEM?') %> </li>
		<li class="largura5"> <% l('O QUE?') %> </li>
    	</ul>
    	<div id="programacao-sexta-content">
	
    		<ul class="align-center">
    			<li class="largura2 quando">08:00</li>
    			<li class="largura4 quem"> <% l('Curitiba Perl Mongers') %> </li>
    			<li class="largura5 o-que"> <% l('Credenciamento') %> </li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				<% l('Recebimento dos convidados e entrega do material do evento.') %>
    			</li>
    		</ul>	
    		<ul class="align-center">
    			<li class="largura2 quando">09:00</li>
    			<li class="largura4 quem"> Joel Berger </li>
    			<li class="largura5 o-que"> <a href="<% request.uri_base %>/talk/15-1" target="_blank">The Scientific API: Designing your scientific code with your future user in mind</a> </li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				We all know that one of the basic tenets of science is the sharing of information. We share data, method, results, interpretation; 
				so why don't we share our scientific code? Because our code is in no fit state to share.

				The complexity of science usually demands too many parameters to be easily understood, or else it is too tightly coupled to be adapted 
				for use by others. In many cases, the initial code is written quickly, is just meant for immediate use, and then suffers as as the subject 
				of inquiry evolves. Indeed it is often hard to share our code with co-workers and collaborators, let alone the outside world. 
				Why don't more scientists share their code? Because it wasn't written with sharing in mind.

				In this talk, I will share how I have used modern object-oriented Perl to write clean, understandable, reusable and shareable simulations. 
				The simulations are designed as toolkits to allow the code to conform to the needs of others. This lowers the barriers for users and will 					encourage them to share their improvements in the same open-source model common in other programming circles. I will also discuss the 
				important roles that CPAN and GitHub can play in a vibrant scientific community.
    			</li>
    		</ul>	
    		<ul class="align-center">
    			<li class="largura2 quando">10:00</li>
    			<li class="largura4 quem"> <% l('Hotel Slaviero') %> </li>
    			<li class="largura5 o-que"> <% l('Cofee Break') %> </li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				<% l('Intervalo para o Cofee Break.') %>
    			</li>
    		</ul>
                <ul class="align-center">
                        <li class="largura2 quando">10:30</li>
                        <li class="largura4 quem">Leonardo Ruoso</li>
                        <li class="largura5 o-que"><a href="<% request.uri_base %>/talk/15-4" target="_blank">Empacotamento e distribuição de aplicativos dependentes de bancos de dados</a></li>
                        <li class="largura1 o-que-mais">
	                        <a class="bt-mais bt-lilas float-right"></a>
	                </li>
                        <li class="largura12 o-que-mais-content">
		                O palestrante apresenta um roteiro para empacotamento e distribuição de aplicativos desenvolvimento em Catalyst com esquema de banco de dados versionado
				gerado pelo DBIx::Class::DeploymentHandler. Os pacotes são gerados para o Debian 7.0 pelo dh-make-perl e com dependência do dbconfig-common. 
				Demais componentes da pilha: PostgreSQL, DBIx::Class e Catalyst.
	                </li>
                </ul>
                <ul class="align-center">
                        <li class="largura2 quando">11:20</li>
                        <li class="largura4 quem">Renato Cron</li>
                        <li class="largura5 o-que"><a href="<% request.uri_base %>/talk/15-5" target="_blank">Consultando a plataforma Iota com Perl.</a></li>
                        <li class="largura1 o-que-mais">
	                        <a class="bt-mais bt-lilas float-right"></a>
	                </li>
                        <li class="largura12 o-que-mais-content">
				Indicadores sociais são usados geralmente traduzir quantitativamente um conceito social abstrado e informar algo sobre determinado
				 aspecto da realidade social para realização de pesquisas, monitoramento, avaliação ou formulação de políticas públicas.
				O Iota é uma plataforma para gerenciar indicadores e disponibilizar eles em dados abertos desenvolvida pela Aware Tecnologia.
				Atualmente já é utilizada pelo Programa Cidades Sustentaveis, Rede Brasileira e Rede Nossa São Paulo, além um plano de expansão
				 para o uso na America Latina pela Fundação Avina. Nesta apresentação iremos abordar as tecnologias utilizadas para elaboração da plataforma,
				 especificamente na linguagem Perl, e exemplos de uso dos dados hospedados nesta plataforma podem ser feitos para pesquisas de maneira trivial.
	                </li>
                </ul>
                <ul class="align-center">
                        <li class="largura2 quando">13:00</li>
                        <li class="largura4 quem">Ramiro Luz</li>
                        <li class="largura5 o-que"><a href="<% request.uri_base %>/talk/15-7" target="_blank">Ensinando TDD através de Coding Dojos</a></li>
                        <li class="largura1 o-que-mais">
	                        <a class="bt-mais bt-lilas float-right"></a>
	                </li>
                        <li class="largura12 o-que-mais-content">
			
	                </li>
                </ul>
                <ul class="align-center">
                        <li class="largura2 quando">13:50</li>
                        <li class="largura4 quem">Felipe Leprevost</li>
                        <li class="largura5 o-que"><a href="<% request.uri_base %>/talk/15-8" target="_blank">Entre o laboratório e o escritório: modelos de negócios na biologia computacional</a></li>
                        <li class="largura1 o-que-mais">
	                        <a class="bt-mais bt-lilas float-right"></a>
	                </li>
                        <li class="largura12 o-que-mais-content">
			
	                </li>
                </ul>
                <ul class="align-center">
                        <li class="largura2 quando">14:40</li>
                        <li class="largura4 quem">Leonel Sanches da Silva</li>
                        <li class="largura5 o-que"><a href="<% request.uri_base %>/talk/15-9" target="_blank">Perl e Seus Herdeiros: As Linguagens Influenciadas por Perl</a></li>
                        <li class="largura1 o-que-mais">
	                        <a class="bt-mais bt-lilas float-right"></a>
	                </li>
                        <li class="largura12 o-que-mais-content">
				Palestra que mostra as linguagens que vieram após o Perl e influenciadas por Perl e os aspectos de influência.
	                </li>
                </ul>
   		<ul class="align-center">
    			<li class="largura2 quando">15:30</li>
    			<li class="largura4 quem"> <% l('Hotel Slaviero') %> </li>
    			<li class="largura5 o-que"> <% l('Cofee Break') %> </li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				<% l('Intervalo para o Cofee Break.') %>
    			</li>
    		</ul>	
   		<ul class="align-center">
    			<li class="largura2 quando">16:10</li>
    			<li class="largura4 quem"> Thiago Rondon </li>
    			<li class="largura5 o-que"><a href="<% request.uri_base %>/talk/15-11" target="_blank">Dados abertos em 2013</a></li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				Abordando a utilização de dados abertos em todos os setores e provocações sobre o uso da linguagem perl e no universo científico.
    			</li>
    		</ul>	
   		<ul class="align-center">
    			<li class="largura2 quando">17:00</li>
    			<li class="largura4 quem"> Daniel Mantovani </li>
    			<li class="largura5 o-que"><a href="<% request.uri_base %>/talk/15-12" target="_blank"> PostgreSQL para Massively Parallel Processing</a></li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
			Em Data Warehouse os bancos de dados são optimizados para OLAP(On-line Analytical Processing) nos quais muitas vezes o gargalo não é o disk I/O 
			devido aos sistemas possuírem SAN(Storage Area Network) com uma grande quantidade de SSD's fazendo stripping conectados ao DBMS por fibra óptica. 
			É conhecido que o PostgreSQL utiliza apenas um processador por consulta, e isso acaba se tornando o gargalo. É nesse cenario que o PostgreSQL falha 
			e outros DBMS's como Teradata, Netezza, DB2, Oracle, Greenplum e Amazon Redshift começam a brilhar, porque eles conseguem usar vários processadores 
			para processar uma única consulta. Nessa palestra eu vou ensinar o PostgreSQL a brilhar também. 
    			</li>
    		</ul>	
    	</div>

	<div id="programacao-sabado-content">
    		<ul class="align-center">
    			<li class="largura2 quando">10:00</li>
    			<li class="largura4 quem"> <% l('Hotel Slaviero') %> </li>
    			<li class="largura5 o-que"> <% l('Cofee Break') %> </li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				<% l('Intervalo para o Cofee Break.') %>
    			</li>
    		</ul>	
                <ul class="align-center">
                        <li class="largura2 quando">10:30</li>
                        <li class="largura4 quem">Gabriel Andrade de Santana</li>
                        <li class="largura5 o-que"><a href="<% request.uri_base %>/talk/16-4" target="_blank">Asyncalyst</a></li>
                        <li class="largura1 o-que-mais">
	                        <a class="bt-mais bt-lilas float-right"></a>
	                </li>
                        <li class="largura12 o-que-mais-content">
		                Tornando sua aplicação Catalyst assíncrona e não-bloqueante, apresentando exemplos com aplicações que usam WebSockets
	                </li>
                </ul>
                <ul class="align-center">
                        <li class="largura2 quando">11:20</li>
                        <li class="largura4 quem">Hailton David Lemos</li>
                        <li class="largura5 o-que"><a href="<% request.uri_base %>/talk/16-5" target="_blank">Aplicando Perl à Grafologia</a></li>
                        <li class="largura1 o-que-mais">
	                        <a class="bt-mais bt-lilas float-right"></a>
	                </li>
                        <li class="largura12 o-que-mais-content">
		                O objetivo desta palestra é apresentar, de forma sucinta, como aplicar o Processamento de Imagens Digitais usando Perl em Analise Grafológica.
				O objetivo é identificar padrões de comportamento, personalidade, capacidade individual e de liderança dentre outras características, 
				sendo os resultados aplicados à área de Recrutamento e Seleção, muito utilizada no departamento de Recursos Humanos das empresas, ou mesmo 
				por pequenos e médios empresários que pretendem contratar profissionais competentes para executar e desempenhar funções em suas empresas ou departamentos.
	                </li>
                </ul>
                <ul class="align-center">
                        <li class="largura2 quando">13:00</li>
                        <li class="largura4 quem">Daniel Mascarenhas</li>
                        <li class="largura5 o-que"><a href="<% request.uri_base %>/talk/16-7" target="_blank">Simplificando seu projeto com Moose</a></li>
                        <li class="largura1 o-que-mais">
	                        <a class="bt-mais bt-lilas float-right"></a>
	                </li>
                        <li class="largura12 o-que-mais-content">
		                Em preparo.
	                </li>
                </ul>
                <ul class="align-center">
                        <li class="largura2 quando">13:50</li>
                        <li class="largura4 quem">Diogo Borges Lima</li>
                        <li class="largura5 o-que"><a href="<% request.uri_base %>/talk/16-8" target="_blank"> As Redes Neurais Artificiais e a Bioinformática. Como eles se entrelaçam ?</a></li>
                        <li class="largura1 o-que-mais">
	                        <a class="bt-mais bt-lilas float-right"></a>
	                </li>
                        <li class="largura12 o-que-mais-content">
		                Utilização de Redes Neurais Artificiais no âmbito da bioinformática, assim como Reconhecimentos de Padrões que hoje são amplamente
				 empregados em várias áreas da computação bem como a bioinformática
	                </li>
                </ul>
   		<ul class="align-center">
    			<li class="largura2 quando">15:30</li>
    			<li class="largura4 quem"> <% l('Hotel Slaviero') %> </li>
    			<li class="largura5 o-que"> <% l('Cofee Break') %> </li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				<% l('Intervalo para o Cofee Break.') %>
    			</li>
    		</ul>
   		<ul class="align-center">
    			<li class="largura2 quando">17:40</li>
    			<li class="largura4 quem"> <% l('Felipe Leprevost') %> </li>
    			<li class="largura5 o-que"> <% l('Encerramento') %> </li>
    			<li class="largura1 o-que-mais">
    				<a class="bt-mais bt-lilas float-right"></a>
    			</li>
    			<li class="largura12 o-que-mais-content">
    				<% l('Encerramento do evento e escolha da cidade sede de 2014.') %>
    			</li>
    		</ul>
	</div>

</div>

<div class="largura12">
   <a class="bt-lilas float-right" id="quer-palestrar"> <% l('Quer palestrar? Clique aqui') %> </a>
   	<div class="largura4 bg-cinza" id="quer-palestrar-form">
    		<form action="<% yapcweb %>" method="post">
    			 <% l('Sua proposta será avaliada e em breve entraremos em contato.') %> <br><br>
    			<input type="text" placeholder=" <% l('Nome') %> " name="nomePalestrante" required>
    			<input type="mail" placeholder=" <% l('E-mail') %> " name="emailPalestrante" required>
			<select name="tempoPalestrante">
				<!--<option value="20"> <% l('20 minutos') %> </option>-->
				<option value="40"> <% l('30 minutos') %> </option>
			</select>
    			<input type="text" placeholder=" <% l('Título da palestra') %> " name="tituloPalestrante" required>
			<select name="diaPalestrante">
				<option value="15"> <% l('Sexta-feira') %> </option>
				<option value="16"> <% l('Sábado') %> </option>
			</select>
    			<textarea placeholder=" <% l('Resumo da palestra') %> " name="resumoPalestrante" required></textarea>
			<input type="text" placeholder=" <% l('Escreva o resultado da equação: 15 - 10 = x') %> " name="verificaPalestrante" required>
			<input type="submit" value=" <% l('Enviar') %> " name="submit" class="bt-lilas">
    		</form>
    		<a id="quer-fechar"> <% l('Fechar formulário') %> </a>
	</div>
</div>
<div id="quer-overlay"></div>
