<div class="largura12 float-none">
	<h3 class="largura6" > <% l('Patrocinadores') %> </h3>
	<% IF session.user_lang == 'pt' || session.user_lang == 'empty' %>
	<a href="/docs/patrocinio-pt.pdf" download="patrocinio.pdf" class="bt-lilas"> <% l('Quer Patrocinar? Clique e saiba mais') %> </a>
	<% ELSE %>
	<a href="/docs/patrocinio-en.pdf" download="sponsorship.pdf" class="bt-lilas"> <% l('Quer Patrocinar? Clique e saiba mais') %> </a>
	<% END %>
	<br><br>
</div>

<div class="align-center">
	<figure class="largura6"><img src="<% request.uri_base %>/images/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	<figure class="largura6"><img src="<% request.uri_base %>/images/patrocinador-diamante.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
</div>

<div class="align-center">
	<figure class="largura4"><img src="<% request.uri_base %>/images/patrocinador-platina.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	<figure class="largura4"><img src="<% request.uri_base %>/images/patrocinador-platina.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	<figure class="largura4"><img src="<% request.uri_base %>/images/patrocinador-platina.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
</div>

<div class="align-center">
	<figure class="largura3"><img src="<% request.uri_base %>/images/patrocinador-ouro.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	<figure class="largura3"><img src="<% request.uri_base %>/images/patrocinador-ouro.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	<figure class="largura3"><img src="<% request.uri_base %>/images/patrocinador-ouro.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	<figure class="largura3"><img src="<% request.uri_base %>/images/patrocinador-ouro.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
</div>

<div class="align-center">
	<a href="http://www.aware.com.br/" target="_blank">
		<figure class="largura2">
			<img src="<% request.uri_base %>/images/aware.png" alt="Aware" title="Aware">
		</figure>
	</a>
	<figure class="largura2"><img src="<% request.uri_base %>/images/patrocinador-prata.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	<figure class="largura2"><img src="<% request.uri_base %>/images/patrocinador-prata.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	<figure class="largura2"><img src="<% request.uri_base %>/images/patrocinador-prata.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
</div>

<div class="align-center">
	
	<a href="http://www.hexabio.com.br" target="_blank">
	<figure class="largura1">
		<img src="<% request.uri_base %>/images/hexabio.png" alt="Hexabio Bioinformática" title="Hexabio Bioinformática">
	</figure>
	</a>

	<a href="http://www.softwarepublico.gov.br/ver-comunidade?community_id=11809545" target="_blank">
	<figure class="largura1">
		<img src="<% request.uri_base %>/images/fila.png" alt="Comunidade Fila Sistema de Atendimento © Oktiva" title="Comunidade Fila Sistema de Atendimento © Oktiva">
	</figure>
	</a>

	<a href="http://bivee.com.br" target="_blank">
	<figure class="largura1">
		<img src="<% request.uri_base %>/images/bivee.png" alt="Bivee" title="Bivee">
	</figure>
	</a>

	<a>
	<figure class="largura1"><img src="<% request.uri_base %>/images/patrocinador-bronze.jpg" alt="Nome do patrocinador" title="Nome do patrocinador"></figure>
	</a>
</div>
