<div class="largura12">
	<h3 class="largura6 float-none"> <% l('YAPC pelo Mundo') %> </h3>
	<br><br>
</div>
<div class="largura12 align-center">
	
	<iframe class="playlist-video" src="//www.youtube.com/embed/videoseries?list=PLtMmBcjgHLVvrZAr91Xl1NjqHohMCct-Y" frameborder="0" allowfullscreen></iframe>
	
</div>
