<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!--[if lt IE 9]><script src="dist/html5shiv.js"></script><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>YAPC::Brasil 2013</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Signika:400,700,600,300|Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="http://eduardomiura.com.br/yapc/montagem/css/style-responsivo.css">
    <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>
    <script src="javascripts/vendor/jquery-1.9.1.min.js"></script>
    <script src="javascripts/jquery.sticky.js"></script>
    <script src="javascripts/plugins.js"></script>
    <script src="http://eduardomiura.com.br/yapc/montagem/js/main.js"></script>
</head>
<body>

<% content %>

</body>
</html>
